.card {
    display: flex;
    justify-content: space-between;
    border-radius: 0.7rem;
    background-color: #ffffff;
    max-width: 291px;
}


.card .count>h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1rem;
}


@media only screen and (max-width : 375px){
    .row{
        display: inline;
    }
    .card {
        display: inline-block;
        max-width: 90%;
        max-height: 7rem;
        text-align: center;
        
    }

    .text{
        position: relative;
        bottom: 30px;
    }

    .card div .p-4{
        display: none;
    }
    
}
