<div class="row px-4 py-5 ml-5">
    <div class="col-md-6 mb-5 mr-5">
        <div class="card">
            <div>
                National Helpline Numbers: <a>1075</a>(toll free) <a>+91-11-23978046</a>
                <span>Source: Ministry of Health &amp; Family Welfare</span>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-5">
        <div class="card">
            <h3>
                Government of India Resources
            </h3>
            <div >
                <div>
                    <div>
                        <h4>COVID-19 | MyGov.in</h4>
                        <span>Government of India</span>
                    </div>
                    <a href="https://www.mygov.in/covid-19/?cbps=1">
                         mygov.in
                    </a>
                </div>
                <div >
                    <div>
                        <h4>Coronavirus Information - India | MyGov.in</h4>
                        <span>Ministry of Health and Family Welfare, Govt. of India</span>
                    </div>
                    <a href="https://www.mohfw.gov.in/">
                         mohfw.gov.in
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-5">
        <div class="card">
            <h3>
                 Donate
            </h3>
            <div>
                <ul >
                    <li>
                        <a href="https://www.pmindia.gov.in/en/?query#">PM
                            CARES</a>
                    </li>
                    <li>
                        <a  href="https://indiafightscorona.giveindia.org/support-families/">give
                            india</a>
                    </li>
                    <li>
                        <a  href="http://www.seedsindia.org/covid19/">SEEDS</a>
                    </li>
                    <li>
                        <a href="https://www.unitedwaymumbai.org/fight-covid">United Way</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <h3>
                <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">
                     World Health Organization
                </a>
            </h3>
            <div >
                <h4>Resources</h4>
                <ul >
                    <li>
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">public
                            advice</a>
                    </li>
                    <li>
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/travel-advice">travel
                            advice</a>
                    </li>
                    <li>
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/media-resources/press-briefings">media
                            resources</a>
                    </li>
                    <li>
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/">situation
                            reports</a>
                    </li>
                    <li>
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters">mythbusters</a>
                    </li>
                    <li>
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/technical-guidance">country
                            and technical guidance</a>
                    </li>
                    <li>
                        <a href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses">your
                            questions answered</a>
                    </li>
                    <li>
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/media-resources/press-briefings">research
                            and development</a>
                    </li>
                    <li>
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/events-as-they-happen">rolling
                            updates on coronavirus disease</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>