
<div *ngIf="news" class="container">
    <div class="row px-4 py-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
            <div class="row card">
                <div class="col-12 col-sm-8 col-md-8 col-lg-9">
                    <div class="header">
                        <h3 class="title">
                            {{news.title}}
                            </h3>
                        <span class="meta">
                            Published On: {{news.publishedAt | date: 'dd-MMM-yy'}}</span>
                    </div>
                    <p class="content">{{news.content}}
                        <a href="{{news.url}}" target="_blank" style="text-align: center;">Read More</a>
                    </p>
                    <span class="author">{{news.author}}</span>
                </div>
                <div class="col-10 col-sm-4 col-md-4 col-lg-3">
                    <img class="image" style="width: 100%;" src={{news.urlToImage}} alt="image">
                </div>
            </div>
        </div>
    </div>
</div>