<div class="jumbotron">

    <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalRecovered]='totalRecovered' [totalActive]='totalActive' [totalDeaths]='totalDeaths'></app-dashboard-card>
</div>

<div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around start" fxLayoutAlign.sm="start center" fxLayoutAlign.xs="start center" fxLayoutGap.sm="5%" fxLayoutGap.xs="5%" class="world-data">

    <div>
        <app-countries></app-countries>
    </div>


    <div class="selectcase">
        <div class="ui form" fxLayout="column">
            <div class="inline fields">
                <label for="cases">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select case type : </label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" value="c" id="c" name="casetype" #c (click)='updateChart(c)' checked="" tabindex="0" class="hidden">
                        <label for="c">Confirmed</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" id="r" value="r" name="casetype" #r (click)='updateChart(r)' tabindex="0" class="hidden">
                        <label for="r">Recovered</label>
                    </div>
                </div>
                <div class="field check3">
                    <div class="ui radio checkbox">
                        <input type="radio" id="a" value="a" name="casetype" #a (click)='updateChart(a)' tabindex="0" class="hidden">
                        <label for="a">Active</label>
                    </div>
                </div>
                <div class="field check4">
                    <div class="ui radio checkbox">
                        <input type="radio" id="d" value="d" name="casetype" #d (click)='updateChart(d)' tabindex="0" class="hidden">
                        <label for="d">Deaths</label>
                    </div>
                </div>
            </div>
            <div class="geo-chart">
                <google-chart [data]="datatable" [type]='geo' [options]="{height : 340,
              colors:['#f5c3c6','#f8d6da','#ec5855','#eb453d']}"></google-chart>
            </div>
        </div>

    </div>

    <div class="piechart">
        <google-chart [data]="datatable" [type]='pie' [options]="{height:372, width: 375}"></google-chart>
    </div>


</div>
<hr>
<h2 style="text-align: center;">World News</h2>
<hr>

<div class="news-data">
    <ng-container *ngIf="news | async as news">
        <app-news *ngFor="let item of news.articles" [news]="item"></app-news>
    </ng-container>
</div>



<!--
<hr>
<div class="col">
  <google-chart [data]="datatable" [type]='line' [options]="{height : 500, width : 700}"></google-chart>
</div>
  -->
